@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-1200px,
.hide-1000px {
  display: inline-block;
}

@media (max-width: 1200px) {
  .hide-1200px {
    display: none;
  }
}

@media (max-width: 1000px) {
  .hide-1000px {
    display: none;
  }
}
